<div class="panel panel-default">
  <% if @publication.chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @publication.chatroom.messages%>
      </div>
  <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
  <%end%>
</div>