<h1>Active Publications</h1>
<% if current_user %>
    <li><%= link_to 'New Publication', new_publication_path %></li>
<% end %>


<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.text %></td>
        <td><%= link_to 'Show', publication_path(publication) %></td>


      </tr>
  <% end %>
</table>
